<template>
  <div>

    <div class="title" >
      <span @click="$router.back()"
            v-if="$route.query.search != null"
            style="margin-left: 12px; float: left;">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span style="font-weight: bold;">Add Translation</span>
    </div>


    <form>
      <div class="inputs">
        <div class="form-group">
          <label >English</label>
          <textarea class="form-control"
                    v-model="en" ref="en"   />
        </div>


        <div class="form-group">
          <label >Native</label>
          <textarea class="form-control"
                    v-model="native_lang"  />
        </div>
      </div>


      <div class="btn shadow p-3 mb-5  rounded"
        @click="storeTranslate(getStoreParams)">Submit</div>
    </form>



  </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
      name: "add-translate",
      data: function() {
        return {
          en:'',
          native_lang:'',
        }
      },

      created: function() {

        var lang = this.$route.query.lang;
        var search = this.$route.query.search;
        if (lang != null) {
          if (lang == 'en')
            this.en = search
          else
            this.native_lang = search
        }
      },

      watch: {

        getStoredKeepId: {
          deep: true,
          handler(value) {
            alert('added successfully');
            this.$router.replace({name:'keep'})
          }
        },


      },

      methods: {
        ...mapActions(['storeTranslate']),
      },

      mounted(){
        this.$refs.en.focus();
      },

      computed : {
        getStoreParams: function() {
          return  {
              en: this.en,
              native_lang: this.native_lang,
          }
        },
        ...mapGetters({
          getStoredKeepId: 'getStoredKeepId',
        }),
      }



    }
</script>

<style scoped>
  .title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  .title, form {
    color: #274EAB;
    font-size: 1.5em;
    height: 50px;
    padding-top: 12px;
  }
  .inputs  {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  button {
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    width: 200px;
    background-color: #6085dc;
    color: white;
  }
</style>
