
<template>
  <div>
    <div class="g-btn">
      <g-signin-button
        :params="googleSignInParams"
        @success="googleOnSignInSuccess"
        @error="googleOnSignInError">
        Sign in with Google
      </g-signin-button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import config from '@/config';
  export default {
    name: "auth",
    data () {
      return {
        googleSignInParams: {
          client_id: config.GOOGLE_CLIENT.clientId,
        }
      }
    },
    methods: {

      ...mapActions([
        'triggerNativeNotSetException',
      ]),

      googleOnSignInSuccess (googleUser) {
        const profile = googleUser.getBasicProfile()
        this.storeAuth(
          'google',
          profile.getName(),
          googleUser.getAuthResponse().id_token,
          profile.getImageUrl(),
        )

        this.triggerNativeNotSetException({});
        this.$router.replace({name:'index'})

      },
      googleOnSignInError (error) {
        console.log('OH NOES', error)
      },

      /**
       * Store user info to local storage
       * @param type e.g. google, facebook
       * @param userName
       * @param token
       * @param profilePicUrl
       */
      storeAuth(type, userName, token, profilePicUrl) {
        var auth = {
          type: type,
          userName: userName,
          token: token,
          profilePicUrl: profilePicUrl
        }
        localStorage.setItem("auth", JSON.stringify(auth));
      }

    }
  }

</script>

<style scoped>
  .g-signin-button {
    /* This is where you control how the button looks. Be creative! */
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #3c82f7;
    color: #fff;
    box-shadow: 0 3px 0 #0f69ff;
  }
  .g-btn {
    margin-top: 250px;
  }
</style>
