<template>
  <div>
    <div class="header">
      <div class="title">Search</div>

      <input v-model="search"

             @click="
              showTranslate= false;
              search='';"
             ref="search"
             placeholder=""

             class="form-control search-input"
      />

    </div>



    <div >

      <div v-if="search!='' && !showTranslate">


        <ul class="list-group list-group-flush">

          <!--Search as input-->
          <li class="list-group-item d-flex justify-content-between align-items-center" @click="doSearch()">
            Translate '{{search.toLowerCase()}}'
            <i class="fas fa-chevron-right grey"></i>
          </li>

          <li
            v-for="row in autoCompleteList"
            @click="
                search = row.en;
                doSearch();
          "
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span ><i v-if="row.translate_id != null" class="fas fa-heart fa-lg" ></i> {{ row.en }}</span>
            <i class="fas fa-chevron-right grey"></i>
          </li>
        </ul>

     </div>




      <!--search history-->
      <div v-else>

        <ul class="list-group list-group-flush">
          <li
            v-for="word in searchHistory"
            @click="
                  search = word;
                  doSearch();
            "
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span><i class="fas fa-history grey"></i>{{ word }}</span>
            <i class="fas fa-chevron-right grey"></i>
          </li>
        </ul>
      </div>


    </div>


  </div>

</template>

<script>
  import Translate from '@/components/Translate';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    name: "index",
    data: function() {
      return {
        search: '',
        autoCompleteList: [], // en, native_lang, translate_id
        autoCompleteResult: [],
        datamuseAutoCompleteResult: [],
        showTranslate: false,
        searchHistory: [],
        loading: 0,
      }
    },
    components: {
      Translate
    },

    created: function() {
      this.loadHistory()
    },

    mounted(){
      this.$refs.search.focus();
    },

    watch: {
      search: function(word) {

        this.autoCompleteList = [];
        this.loading = 0;
       this.autoComplete({word: word});
       this.datamuseAutoComplete({sp: word+"*", max:5});

      },


      getAutoComplete: {
        deep: true,
        handler(value) {
          var self = this;
          self.autoCompleteResult = value;
          // self.autoCompleteList = self.autoCompleteList.concat(value)

          self.loading++;
        }
      },

      getDatamuseAutoComplete: {
        deep: true,
        handler(value) {

          var self = this;
          var list = [];
          // self.autoCompleteList = []

          value.forEach(function(v) {

            list.push({
              en: v.word,
              native_lang: null,
              translate_id: null
            });
          })

          self.datamuseAutoCompleteResult = list

          self.loading++;

          // self.autoCompleteList = self.autoCompleteList.concat(list)


        }
      },

      loading: function() {
        var self = this;

        if (this.loading >= 2) {
          self.autoCompleteList = self.autoCompleteResult.concat(self.datamuseAutoCompleteResult)
        }
      }

    },

    methods: {
      ...mapActions([
        'autoComplete',
        'datamuseAutoComplete',
      ]),

      doSearch() {
        this.pushHistory(this.search.toLowerCase())
        this.$router.push({ name: 'translate', query: { search: this.search.toLowerCase() }})
      },

      loadHistory() {

        var list = JSON.parse(localStorage.getItem("searchHistory"));

        if (list == null)
          return;

        this.searchHistory = list.reverse();
      },

      pushHistory(search) {

        // Limit of how much words could be store
        var historyLength = 20;

        var list = JSON.parse(localStorage.getItem("searchHistory"));

        if (list == null)
          list = [];

        //  Unique
        if (list.includes(search))
          return;

        //  Queue
        list.push(search);
        if (list.length > historyLength)
          list.shift();


        localStorage.setItem("searchHistory", JSON.stringify(list));
      }


    },

    computed: {
      ...mapGetters({
        getAutoComplete: 'getAutoComplete',
        getDatamuseAutoComplete: 'getDatamuseAutoComplete',
      }),

    }
  }


</script>

<style scoped>
 .header {
   z-index: 2;
   top:0;
   width:100%;
   background-color: #6085DC;
   padding-top: 15px;
   padding-bottom: 8px;
   position: -webkit-sticky;
   position: sticky;
 }


  .title {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
  }

  input {
    width: 90%;
    margin: auto;
  }

 .search-input  {
   text-transform: lowercase;
 }

  .grey {
    color: lightgrey;
  }

  ul {
    z-index: 1;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-size: 1.2em;
  }

  .title, ul {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }


  i {
    margin-right: 10px;
  }

  li span {
    text-align: left;
  }


</style>
