<template>
  <div>

    <div class="header">
      <div class="title">Flashcards</div>
    </div>


    <ul class="list-group list-group-flush" v-if="keeps!= null && keeps.length > 0">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        v-for="row in keeps" >

        <span @click="goTranslate(row)" class="card-title">
          <p class="card-en">{{ row.en }}</p>
          <p class="card-native">{{ row.native_lang }}</p>
        </span>

        <span class="li-right">
          <!--Score-->
          <!--{{row.memory_score}} / {{row.memory_score_native}}-->

          <!--Delete-->
          <button @click="goRemove(row.keep_id)"
            class="btn btn-danger">
            <i class="fas fa-trash-alt fa-lg"></i>
          </button>

        </span>

      </li>
    </ul>

     <!--empty data-->
    <div class="card text-white bg-warning shadow  col-8 empty-data"
         v-if="keeps!= null && keeps.length === 0"
    >
      <div class="card-body" >
        <i class="fas fa-info fa-lg"></i>
        You have not added any translation
      </div>

    </div>

    <!--<div v-if="pagination!= null">-->

      <!--&lt;!&ndash;Previous Page&ndash;&gt;-->
      <!--<router-link-->
        <!--:to="{ name: 'keep' ,params: {page:(pagination.current_page-1)}}"-->
         <!--v-if="pagination.current_page > 1"-->
      <!--&gt;Prev  /  </router-link>-->

      <!--&lt;!&ndash;Next Page&ndash;&gt;-->
      <!--<router-link-->
        <!--:to="{ name: 'keep' ,params: {page:(pagination.current_page+1)}}"-->
        <!--v-if="pagination.has_more_pages"-->
      <!--&gt;Next</router-link>-->

    <!--</div>-->

  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
    export default {
      name: "keep",
      data: function() {
        return {
          page : this.$route.params.page,
          keeps: null,
          pagination: null,
        }
      },
      created: function() {
        this.loadKeeps({page: this.page});
      },

      watch: {

        getKeeps: {
          deep: true,
          handler(value) {
            this.keeps = value.data;
            this.pagination = value.pagination
          }
        },

        getRemovedKeepId: {
          deep: true,
          handler(value) {
            this.loadKeeps({page: this.page});
          }
        },

        '$route' (to, from) {
          this.page = to.params.page;
          this.loadKeeps({page: this.page});
        }

      },

      methods: {
        ...mapActions([
          'loadKeeps',
          'removeKeep',
        ]),

        goTranslate(row) {
          this.$router.push({path:this.$route.path, query: { y: window.pageYOffset}});
          this.$router.push({ name: 'translate', query: { id: row.translate_id }});
        },

        goRemove(keepId) {
          this.$router.push({path:this.$route.path, query: { y: window.pageYOffset}});
          this.removeKeep({keep_id: keepId})
        }
      },
      computed: {
        ...mapGetters({
          getKeeps: 'getKeeps',
          getRemovedKeepId: 'getRemovedKeepId',
        }),
      },
      updated() {
        if (this.$route.query.y > 0)
          window.scrollTo(0,this.$route.query.y);
      }


    }
</script>

<style scoped>

  .header {
    z-index: 2;
    top:0;
    width:100%;
    background-color: #6085DC;
    padding-top: 15px;
    padding-bottom: 8px;
    position: -webkit-sticky;
    position: sticky;
  }


  .title {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
  }


  ul {

    width: 90%;
    margin: auto;

  }

  .title, ul {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }


  .card-title {
    text-align: left;
    line-height: 12px;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #575757;
  }
  .card-en {
    font-size: 1.2em;
    font-weight: bolder;
    line-height: 20px;
  }
  .card-native {
    font-size: 1.0em;
  }

  .li-right {
    text-align: right;
  }

  .empty-data {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-weight: bolder;
  }

</style>
