<template>
  <div class="container">

    <div class="title" >
      <span >Exam</span>
    </div>

    <!--Filter Lang-->
    <div class="sub-title">Card Language</div>
    <div class="custom-control custom-radio custom-control-inline row filter">

      <div class="col-6 input-pg">
        <input type="radio" class="custom-control-input" id="en" value="false" v-model="isLangNative" >
        <label class="custom-control-label" for="en">English</label>
      </div>

      <div class="col-6 input-pg">
        <input type="radio" class="custom-control-input" id="native" value="true" v-model="isLangNative" >
        <label class="custom-control-label" for="native">Native</label>
      </div>

    </div>


    <!--Filter Score-->
    <div class="sub-title">Filter Score</div>
    <div class="custom-control custom-checkbox custom-control-inline row filter">

      <div class="col-6 input-pg">
        <input type="checkbox" class="custom-control-input" id="customCheck1" value="0" v-model="scoreFilter">
        <label class="custom-control-label" for="customCheck1"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></label>
      </div>

      <div class="col-6 input-pg">
        <input type="checkbox" class="custom-control-input" id="customCheck2" value="1" v-model="scoreFilter">
        <label class="custom-control-label" for="customCheck2"><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></label>
      </div>

      <div class="col-6 input-pg">
        <input type="checkbox" class="custom-control-input" id="customCheck3" value="2" v-model="scoreFilter">
        <label class="custom-control-label" for="customCheck3"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i></label>
      </div>

      <div class="col-6 input-pg">
        <input type="checkbox" class="custom-control-input" id="customCheck4" value="3" v-model="scoreFilter">
        <label class="custom-control-label" for="customCheck4"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></label>
      </div>

    </div>



    <!--Card-->
    <div class="card text-white bg-info shadow  col-8"
         v-model="currentNo"
         v-if="memoryWord != null && pageRowCount > 0"
         @touchstart="dragStart($event)"
         @touchmove="drag($event)"
         @touchend="dragEnd($event)"
         @touchcancel="dragStatus = null"

    >
      <div class="card-header">
        {{memoryWord}}
        <div v-if="memoryScore==0">
          <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        </div>
        <div v-if="memoryScore==1">
          <i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        </div>
        <div v-if="memoryScore==2">
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i>
        </div>
        <div v-if="memoryScore==3">
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
      </div>

      <div class="card-body" >
        <div class="card-tip card-text" v-if="!showTheOtherLang" @click="showTheOtherLang= true">
          <p><b>Click</b> to show Translated !</p>
        </div>
        <div v-if="showTheOtherLang">
          <div class="card-translated" >{{translatedWord}}</div>
          <i class="fas fa-external-link-alt" @click="showTranslate=true"></i>
        </div>
      </div>
    </div>

    <!--Score modal-->
    <div class="m-modal" v-if="dragStatus != null">
      <div v-if="dragStatus == 'left'" class="m-model-block">
        <div class="m-modal-score">1</div>
        <div class="m-modal-content">I don't know this word.</div>
      </div>
      <div v-if="dragStatus == 'up'" class="m-model-block">
        <div class="m-modal-score">2</div>
        <div class="m-modal-content">It need to be practiced more.</div>
      </div>
      <div v-if="dragStatus == 'right'" class="m-model-block">
        <div class="m-modal-score">3</div>
        <div class="m-modal-content">I know this word well!</div>
      </div>

    </div>

    <!--Translate frame-->
    <div class="translateModal"  :class="{showUp: showTranslate == true, hide: showTranslate == false}">
      <div class="translate-header">
        <i @click="showTranslate=false" class="fas fa-times fa-lg"></i>
      </div>

      <Translate v-if="showTranslate"
                 :translate_id=keeps[currentNo].translate_id
                 :isTranslateByNative=isLangNative
      ></Translate>
    </div>


    <!--empty data-->
    <div class="card text-white bg-warning shadow  col-8 info-card"
      v-if="pageRowCount == 0"
    >
      <div class="card-body" >
        <i class="fas fa-info fa-lg"></i>
         No more cards
      </div>
    </div>

    <!--device is not touchable-->
    <div class="card text-white bg-danger shadow  col-8 info-card"
         v-if="!deviceTouchable"
    >
      <div class="card-body" >
        <i class="fas fa-exclamation-circle fa-lg"></i>
        Device without touch screen! Please use mobile, Pad instead.
      </div>
    </div>


  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import Translate from '@/components/Translate';
  export default {
    name: "memory",
    data: function() {
      return {
        showTheOtherLang: false,
        showTranslate: false,
        isLangNative: "false", // Switcher of lang | bool

        scoreFilter: ['0','1','2'],
        randSeed: 0, // 1-9
        currentNo: 0,
        keeps: [],
        pageRowCount: null,
        pageHasMore: null,
        pageCurrent: null,
        // Word and score might switched by lang
        memoryWord: null,
        translatedWord: null, // opposite lang of memory

        memoryScore: null,

        dragStartX: 0,
        dragStartY: 0,
        dragStatus: null, // null, right, left, up

        deviceTouchable: true,
      }
    },
    components: {
      Translate
    },
    created: function() {

      // Validate is device touchable
      if (!('ontouchstart' in window)) {
        console.log('untouchable');
        this.deviceTouchable = false;
        return;
      }

      this.randSeed = Math.floor(Math.random() * 10);
      var self = this;
      this.loadKeeps({
        random: self.randSeed,
        scores: self.scoreFilter,
      });
    },

    watch: {

      // watch vuex state
      getKeeps: {
        deep: true,
        handler(value) {

          this.keeps = value.data;
          this.pageRowCount = value.pagination.count;
          this.pageHasMore = value.pagination.has_more_pages;
          this.pageCurrent = value.pagination.current_page;

          // Out of page, init.
          if (value.pagination.count == 0) {
            // alert("NO MORE DATA");
            return;
          }
          this.updateMemoryTitle();
        }
      },


      scoreFilter: function() {
        this.showTheOtherLang = false;
        this.reloadKeeps();
      },

      isLangNative: function(v) {
        this.showTheOtherLang = false;
        this.reloadKeeps();
      },
      currentNo: function(v) {
        this.updateMemoryTitle();
      },

      dragStatus: function(v) {
        console.log(v)
      }

    },

    methods: {
      ...mapActions([
        'loadKeeps',
        'removeKeep',
        'updateMemoryScore'
      ]),

      next() {
        var self = this;

        self.showTheOtherLang=false;
        self.showTranslate=false;

        if (self.currentNo +1 < self.pageRowCount) {
          self.currentNo++;
          console.log(self.currentNo+'/'+self.pageRowCount);
        }
        // Next Page
        else  {
          self.currentNo = 0;
          this.loadKeeps({
            page: self.pageCurrent+1,
            random: self.randSeed,
            scores: self.scoreFilter,
            is_score_native: self.isLangNative,
          });
        }
      },

      updateMemoryTitle() {
        var self = this;
        if (self.isLangNative=='false') {
          self.memoryWord = self.keeps[self.currentNo].en;
          self.memoryScore = self.keeps[self.currentNo].memory_score;
          self.translatedWord = self.keeps[self.currentNo].native_lang
        } else {
          self.memoryWord = self.keeps[self.currentNo].native_lang;
          self.memoryScore = self.keeps[self.currentNo].memory_score_native;
          self.translatedWord = self.keeps[self.currentNo].en;
        }
      },

      reloadKeeps() {
        var self = this;
        self.currentNo = 0;
        self.randSeed = Math.floor(Math.random() * 10);

        self.loadKeeps({
          random: self.randSeed,
          scores: self.scoreFilter,
          is_score_native: self.isLangNative,
        });
      },

      /**
       * touch start
       **/
      dragStart(event) {
        this.dragStartX = event.touches[0].clientX;
        this.dragStartY = event.touches[0].clientY;

      },
      drag(event) {
        var x = event.touches[0].clientX;
        var y = event.touches[0].clientY;

        var xLength = Math.abs(x-this.dragStartX);
        var yLength = Math.abs(y-this.dragStartY);

        var triggerLength = 50;

        if (x > this.dragStartX && xLength > yLength && xLength > triggerLength)
          this.dragStatus = 'right'
        else if (x < this.dragStartX && xLength > yLength && xLength > triggerLength)
          this.dragStatus = 'left'
        else if (y < this.dragStartY && yLength > xLength && yLength > triggerLength)
          this.dragStatus = 'up'
        else
          this.dragStatus = null

      },


      /**
       * touch end
       * @param event
       */
      dragEnd(event) {

        var score = null
        switch (this.dragStatus) {
          case 'left':
            score = 1;
            break;
          case 'up':
            score = 2;
            break;
          case 'right':
            score = 3;
            break;
        }

        if (score!= null) {
          this.updateMemoryScore({
            'keep_id': this.keeps[this.currentNo].keep_id,
            'score': score,
            'is_score_native': this.isLangNative
          });
          this.dragStatus = null
          this.next();
        }
      }
    },
    computed: {
      ...mapGetters({
        getKeeps: 'getKeeps',
      }),
    }
  }
</script>

<style scoped>



  .title {
    color: #274EAB;
    font-size: 1.5em;
    height: 50px;
    padding-top: 12px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .filter {
    width: 100%;
  }

  .sub-title {
    /*text-align: left;*/
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin:2px;
    font-size: 1.2em;
    color: #6085DC;
  }

  .input-pg {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .card-header, .card-translated {
    font-size: 2em;
    width: 100%;
  }

  .card-header p {
    font-size: 0.8em;
  }

  .m-modal {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    color: white;
  }
  .m-modal-score {
    color: white;
    font-size: 10em;
    margin-top: 20%;
    margin-left: 20%;
    text-align: left;
  }
  .m-modal-content {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    font-size: 2em;
  }
  .showUp {
    display: inline;
  }
  .hide {
    display: none;
  }
  .translateModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
    padding-bottom: 50px;
  }
  .translateModal .translate-header {
    width: 100%;
    font-size: 2em;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #F1F1F1;
    text-align: left;
  }


  .info-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-weight: bolder;
  }
</style>
