<template>
<div>
  <ul class="nav nav-pills nav-fill">

    <li class="nav-item">
      <router-link class="nav-link"
           :to="{ name: 'index'}"
      >
        <i class="fas fa-search fa-lg "
           :class="{mActive: $route.name == 'index'}"></i>
      </router-link>
    </li>

    <li class="nav-item">
      <router-link class="nav-link"
           :to="{ name: 'add-translate'}">
        <i class="fas fa-plus-square fa-lg"
           :class="{mActive: $route.name == 'add-translate'}"
        ></i>
      </router-link>
    </li>

    <li class="nav-item">
      <router-link class="nav-link"
          :to="{ name: 'keep' ,params: {page:1}}">

        <i class="fas fa-heart fa-lg"
           :class="{mActive: $route.name == 'keep'}"
        ></i>
      </router-link>
    </li>

    <li class="nav-item">
      <router-link class="nav-link"
           :to="{ name: 'memory'}">
        <i class="fas fa-flask fa-lg"
           :class="{mActive: $route.name == 'memory'}"
        ></i>
      </router-link>
    </li>

    <li class="nav-item">
      <router-link class="nav-link"
                   :to="{ name: 'statistic'}">
        <i class="fas fa-chart-bar fa-lg"
           :class="{mActive: $route.name == 'statistic'}"
        ></i>
      </router-link>
    </li>
  </ul>
</div>
</template>

<script>
    export default {
        name: "nav-bar"
    }
</script>

<style scoped>
  ul {
    height: 50px;
  }
  i {
    margin-top:8px;
    color: darkgray;
  }
  .mActive {
    color: #6085DC;
  }



</style>
