<template>
  <div>
    <div class="title" >
      <span >Statistic</span>
    </div>

    <ul class="lang-selector nav nav-pills mb-3" id="pills-tab" role="tablist" align="center">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
           aria-controls="pills-home" aria-selected="true" @click="isNative=false">
          English Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
           aria-controls="pills-profile" aria-selected="false" @click="isNative=true">
          Native Cards</a>
      </li>
    </ul>

    <!--Chart-->
    <div>

    </div>


    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
        <span class="badge badge-primary badge-pill">{{score0}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
        <span class="badge badge-primary badge-pill">{{score1}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i></span>
        <span class="badge badge-primary badge-pill">{{score2}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
        <span class="badge badge-primary badge-pill">{{score3}}</span>
      </li>
    </ul>

  </div>
</template>
<script>

  import Vue from 'vue'
  import { mapGetters, mapActions } from 'vuex';

  export default {

    components: {

    },

    data () {
      return {
        handler: new Vue,
        isNative: false,
        score0: 0,
        score1: 0,
        score2: 0,
        score3: 0,
        scoreStatistic: null,
      }
    },
    methods: {
      ...mapActions([
        'loadScoreStatistic',
      ]),

      reloadStatistic() {
        var self = this;
        var data = [];
        var value = self.scoreStatistic;

        if (self.isNative) {
          data = [
            ['0', value.data.score_nt_zero],
            ['1', value.data.score_nt_one],
            ['2', value.data.score_nt_two],
            ['3', value.data.score_nt_three],
          ];
          self.score0 = value.data.score_nt_zero || 0
          self.score1 = value.data.score_nt_one || 0
          self.score2 = value.data.score_nt_two || 0
          self.score3 = value.data.score_nt_three || 0
        } else {
          data = [
            ['0', value.data.score_zero],
            ['1', value.data.score_one],
            ['2', value.data.score_two],
            ['3', value.data.score_three],
          ]
          self.score0 = value.data.score_zero || 0
          self.score1 = value.data.score_one || 0
          self.score2 = value.data.score_two || 0
          self.score3 = value.data.score_three || 0
        }

        const options = {
          data: {
            columns: data,
            type : 'donut',
          },
          donut: {
            label: {
              format: function (value, ratio, id) {
                return id;
              }
            },
            expand: false
          }

        }
        this.handler.$emit('init', options)
      }
    },

    mounted () {
      this.loadScoreStatistic()
    },

    watch: {
      getScoreStatistic: {
        deep: true,
        handler(value) {
          var self = this;
          self.scoreStatistic = value;
          self.reloadStatistic()
        }
      },
      isNative: function() {
        this.reloadStatistic()
      }
    },


    computed: {
      ...mapGetters({
        getScoreStatistic: 'getScoreStatistic',
      }),

    }
  }
</script>
<style scoped >
  .title {
    color: #274EAB;
    font-size: 1.5em;
    height: 50px;
    padding-top: 12px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .nav {padding-left: 20px}

</style>
