<template>
  <div>

    <div class="summary-background" >
      <div class="title" v-if="isPage" @click="$router.back()">
        <span style="margin-left: 12px; float: left;"><i class="fas fa-arrow-left"></i></span>
        <span style="font-weight: bold;">Translate</span>
      </div>


      <div class="summary container">
        <div class="summary-head row">

          <div class="" style="padding-left: 50px">

            <!--Word, Spell-->
            <div class="row">
              <div class="word" v-if="hasLocalTranslate">{{en}}</div>
              <div class="word" v-if="!hasLocalTranslate && search!= null">{{search}}</div>
              <div class="spell" v-if="oxfordDictionaryResult != null  && oxfordDictionaryResult.phoneticSpelling != null">
                /{{oxfordDictionaryResult.phoneticSpelling}}/
              </div>
            </div>

            <!--Native, Keep-->
            <div class="row">
              <div class="native" v-if="hasLocalTranslate">{{native_lang}}</div>
              <div class="keep-status" v-if="hasLocalTranslate">
                <div v-if="keepId!=null" @click="removeKeep({keep_id: keepId})" class="bt-kept"><i class="fas fa-heart"></i></div>
                <div v-if="keepId==null" @click="storeKeep({translate_id: id})" ><i class="far fa-heart"></i></div>
              </div>
            </div>

          </div>

          <!--Audio Btn-->
          <div class="audio-btn col-4" v-if="oxfordDictionaryResult != null  && oxfordDictionaryResult.audio_file != null">

            <audio controls="controls"  ref="audio">
              <source :src=" oxfordDictionaryResult.audio_file " type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>

            <button type="button" class="btn shadow" @click="$refs.audio.play()">
              <i class="fas fa-volume-down fa-lg"></i>
            </button>
          </div>

        </div>
        <div class="summary-body">

          <!--Google Dictionary-->
          <div v-if="googleTranslateResult != null && googleTranslateResult.dict.length > 0">
            <div v-for="lexicalEntry in googleTranslateResult.dict">
              {{lexicalEntry.lexicalCategory}}
              <ul>
                <li v-for="entry in lexicalEntry.entries">

                  <!--Link to translate-->
                  <router-link :to="{ name: 'translate', query: { search: entry.word }}">
                    {{entry.word}}
                  </router-link>

                  <button v-if="entry.keepId!=null" @click="removeKeep({keep_id: entry.keepId})" class="bt-kept btn">
                    <i class="fas fa-heart"></i>
                  </button>

                  <button v-if="entry.keepId==null" @click="
                    // Store and Keep Entry word
                    storeTranslate(
                      (googleTranslateResult.request_lang!='en')?
                        {en: entry.word, native_lang: native_lang}:
                        {en: en, native_lang: entry.word}
                    )
                  " class="btn"
                  ><i class="far fa-heart"></i></button>
                </li>
              </ul>
            </div>
          </div>

          <div v-if="googleTranslateResult != null && googleTranslateResult.dict.length <= 0">
            <ul>
              <!--Sentence trans-->
              <li >
                <i class="fas fa-language fa-lg"></i>

                {{ googleTranslateResult.sentence.trans}}

                <button v-if="googleTranslateResult.sentence.keepId!=null" @click="removeKeep({keep_id: googleTranslateResult.sentence.keepId})" class="bt-kept">
                  <i class="fas fa-heart"></i>
                </button>

                <button v-if="googleTranslateResult.sentence.keepId==null" @click="
                  // Store and Keep sentence
                  storeTranslate(
                    (googleTranslateResult.request_lang!='en')?
                      {en: googleTranslateResult.sentence.trans, native_lang: native_lang}:
                      {en: en, native_lang: googleTranslateResult.sentence.trans }
                  )
                " ><i class="far fa-heart"></i></button>

              </li>
            </ul>
          </div>


          <!--Add Translate-->
          <div class="add-icon "
               v-if="search!= null && googleTranslateResult != null">
            <i class="fas fa-plus-circle fa-lg "
               @click=" $router.push({ name: 'add-translate', query: { search: search, lang: googleTranslateResult.request_lang }}) "
            ></i>
          </div>

        </div>
      </div>

    </div>



    <!--Oxford Dictionary-->
    <div v-if="oxfordDictionaryResult != null" class="oxford ">

      <!-- lexicalEntries -->
      <div v-for="row in oxfordDictionaryResult.lexicalEntries" class="oxford-entry container">

        <div class="row"  >
          <!--lexicalCategory-->
          <div class="col-4 oxford-category " >
            {{row.lexicalCategory}}
          </div>
          <!--Definitions-->
          <div class="col-8 oxford-definition " >
            {{row.definition}}
          </div>
        </div>


        <div v-if="row.examples.length > 0">
          <!--Examples-->
          <p style="color: #F6494E; font-weight: bold; padding: 10px">Examples</p>

          <div  v-for="(example, index) in row.examples" class="oxford-example">



            <!--Condition for prevent situation like (repay != repaid) -->
            <p v-if="example.en.match(new RegExp(oxfordDictionaryResult.request_word, 'i'))!= null">
              {{ index+1 }}.

              <!--make key word bold-->
              {{ splitExample(example.en, oxfordDictionaryResult.request_word)[0] }}
              <b style="color: #6085dc">{{ splitExample(example.en, oxfordDictionaryResult.request_word)[1] }}</b>{{ splitExample(example.en, oxfordDictionaryResult.request_word)[2] }}

            </p>

            <p v-else>
              {{ index+1 }}.
              {{example.en}}
            </p>

            <!--native example-->
            <p class="native-example" v-if="example.native!= null"><i class="fas fa-language fa-lg"></i> {{ example.native }}</p>

          </div>
        </div>

      </div>
    </div>



    <!--Datamuse Syn & Ant-->
    <div class="datamuse container">
      <!--Syn-->
      <div v-if="datamuseSynResult.length > 0" class="row">

        <div class="col-2 datamuse-category">Synonyms</div>

        <div class="col datamuse-relate">

          <router-link v-for="row in datamuseSynResult" :key="row.word"
                       class="badge badge-primary datamuse-word"
                       :to="{ name: 'translate', query: { search: row.word }}">
            {{row.word}}
          </router-link>

        </div>

      </div>

      <!--Ant-->
      <div>
        <div v-if="datamuseAntResult.length > 0" class="row" style="margin-top:10px;">

          <div class="col-2 datamuse-category">Antonyms</div>

          <div class="col datamuse-relate">

            <router-link v-for="row in datamuseAntResult" :key="row.word"
                         class="badge badge-danger datamuse-word"
                         :to="{ name: 'translate', query: { search: row.word }}">
              {{row.word}}
            </router-link>

          </div>

        </div>
      </div>
    </div>


  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  export default {

    name: "translate",

    // Remember to sync with initData()
    data: function() {
      return {
        // --------------View Data------------- //
        en: null,
        native_lang: null,
        googleTranslateResult: null,
        oxfordDictionaryResult: null,
        datamuseSynResult: [],
        datamuseAntResult: [],


        id: null,
        search: null,
        keepId: null,
        hasLocalTranslate:false,
        isPage: true, // Not within parent
      }
    },

    props: [
      'translate_id', // From Memory
      'isTranslateByNative' // From Memory
    ],

    created: function(){
      this.init();
    },

    watch: {

      '$route' (to, from) {
        this.initData();
        this.init();
      },


      /**
       * It's called by Index
       */
      getSearchTranslate: {
        deep: true,
        handler(value) {
          if (value.local_translate != null) {
            this.hasLocalTranslate = true;
            this.id = value.local_translate.translate.id;
            this.keepId = value.local_translate.keep_id;
            this.en= value.local_translate.translate.en;
            this.native_lang= value.local_translate.translate.native_lang;
          }
          else {
            this.hasLocalTranslate = false;
            this.en= null;
            this.native_lang= null;
            this.keepId= null;
          }

          // Google translate
          this.googleTranslate({word: this.search});

          // Oxford translate
          if (value.request_lang == 'en') {
            this.oxfordDictionary({en: this.search});
            this.loadDatamuseSyn({rel_syn: this.search});
            this.loadDatamuseAnt({rel_ant: this.search});
          }
        }
      },

      getTranslate: {
        deep: true,
        handler(value) {
          console.log("isTranslateByNative:"+this.isTranslateByNative)


          this.hasLocalTranslate = true;
          this.id = value.local_translate.translate.id;
          this.keepId = value.local_translate.keep_id;
          this.en= value.local_translate.translate.en;
          this.native_lang= value.local_translate.translate.native_lang;


          // Google translate
          this.googleTranslate({word: (this.isTranslateByNative=="true")?this.native_lang:this.en});

          // Oxford translate
          this.oxfordDictionary({en: this.en});

          // datamuse related
          this.loadDatamuseSyn({rel_syn: this.en});
          this.loadDatamuseAnt({rel_ant: this.en});
        }
      },

      getGoogleTranslate: {
        deep: true,
        handler(value) {

          this.googleTranslateResult = value;

          console.log(this.googleTranslateResult)

          // is en from search or translate of store modules

          if (this.en == null)
            this.en = this.search

          if (this.native_lang == null)
            this.native_lang = this.search
        }
      },

      getOxfordDictionary: {
        deep: true,
        handler(value) {
          this.oxfordDictionaryResult = value;
        }
      },

      /**
       * Keep button switcher
       */
      getStoredKeepId: {
        deep: true,
        handler(value) {
          this.keepId = value;
          this.reloadGoogleTranslate()
//          console.log(value)
        }
      },
      getRemovedKeepId: {
        deep: true,
        handler(value) {
          this.keepId = null;
          this.reloadGoogleTranslate()
//          console.log(value)
        }
      },


      getDatamuseSyn: {
        deep: true,
        handler(value) {
          this.datamuseSynResult = value
        }
      },
      getDatamuseAnt: {
        deep: true,
        handler(value) {
          this.datamuseAntResult = value
        }
      },


    },
    methods: {
      ...mapActions([
        'storeKeep',
        'removeKeep',
        'storeTranslate',
        'loadTranslate',
        'googleTranslate',
        'oxfordDictionary',
        'searchTranslate',
        'loadDatamuseSyn',
        'loadDatamuseAnt'
      ]),


      init() {
        // Dispatcher by params
        var id = this.$route.query.id;
        var search = this.$route.query.search;


        if (id != null) {
          this.id = id;
          this.loadTranslate({translate_id : id})
        }
        else if (search!= null) {
          this.search = search;
          this.searchTranslate({word: this.search});
        }
        else {
          this.isPage = false;
        }

        // From parents
        if (this.translate_id != null) {
          id = this.translate_id;
          this.loadTranslate({translate_id : id})
        }
      },

      initData() {

        // --------------View Data------------- //
        this.en= null;
        this.native_lang= null;
        this.googleTranslateResult= null;
        this.oxfordDictionaryResult= null;


        this.id= null;
        this.search= null;
        this.keepId= null;
        this.hasLocalTranslate=false;
        this.isPage= true; // Not within parent

        this.datamuseSynResult= []
        this.datamuseAntResult= []

      },

      reloadGoogleTranslate () {
        if (this.search != null) {
          this.googleTranslate({word: this.search});
        } else {
          this.googleTranslate({word: (this.isTranslateByNative=="true")?this.native_lang:this.en});
        }
      },

      splitExample(string, word) {
        var lookAhead = string.match(new RegExp("(.*?)(?="+word+")", "i"))[0].toString();
        var lookBehind = string.replace(lookAhead, "").replace(word, "");
        return [lookAhead, word, lookBehind];

      }


    },
    computed: {
      ...mapGetters({
        getSearchTranslate: 'getSearchTranslate',
        getGoogleTranslate: 'getGoogleTranslate',
        getTranslate: 'getTranslate',
        getOxfordDictionary: 'getOxfordDictionary',
        getStoredKeepId: 'getStoredKeepId',
        getRemovedKeepId: 'getRemovedKeepId',
        getDatamuseSyn: 'getDatamuseSyn',
        getDatamuseAnt: 'getDatamuseAnt',
      }),
    }
  }
</script>

<style scoped>

  .title {
    color: #274EAB;
    font-size: 1.5em;
    height: 50px;
    padding-top: 12px;
  }

  .summary-background {
    background-color: #F1F1F1;
    padding-bottom: 20px;
  }

  .summary {
    background-color: white;
    border: 2px;
    margin-top: 15px;
  }

  .summary-head {
    background-color: #F8F8F8;
    padding: 10px;
  }

  .summary-body {
    padding: 10px;
  }

  .add-icon {
    font-size: 30px;
    color: #F6494E;
  }

  .word {
    color: #333F70;
    font-family: arial;
    font-weight: bold;
    font-size: 2em;
  }

  .native {
    font-size: 1em;
  }

  .spell {
    line-height: 2.5em;
    font-size: 1.3em;
    text-align: center;
    margin-left: 10px;
  }

  audio {
    display:none;
  }

  .fa-heart {
    color: #F6494E;
    margin-left: 10px;
    font-size: 1.5em;

  }


  .title, .datamuse {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  .audio-btn {
    margin: auto;
  }
  .audio-btn button {
    background-color: #F6494E;
    color: white;
  }

  .oxford, .summary, .datamuse {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .oxford-entry {
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    margin-top: 20px;
  }
  .oxford-category {
    padding: 10px;
    color: white;
    background-color: #274EAB;
    font-weight: bold;

  }
  .oxford-definition {
    text-align: left;
    color: white;
    background-color: #6085dc;
    padding: 10px;
  }
  .oxford-example {
    text-align: left;
    padding-left: 10px;
  }

  button {
    background-color: transparent;
  }

  .datamuse {
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 10px solid;
    border-left-color: #e2e2e2;
  }

  .datamuse-category {
    font-weight: 700;
  }

  .datamuse-relate {
    text-align: left;
    padding-top: 20px;
    font-size: 1.4em;
  }
  .datamuse-word {
    margin-right: 5px;
  }

  .native-example {
    color: #F6494E;
  }

</style>
