<template>
  <div id="app">

    <router-view  />

    <div class="bx"></div>

    <NavBar class="footer"/>

  </div>

</template>

<script>
import NavBar from '@/components/NavBar'
export default {
  name: 'app',
  components : {
    NavBar,
  },

}
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid;
  border-width: 1px;
  border-color: #F8F8F8;
  background-color: white;
  z-index: 9;
}

.bx {height: 50px;}

</style>
